@charset "utf-8";
/* CSS Document */

body
{
	height:1080px;
	width:1920px;
	background-color:#000;
}


img 
{
 	height:1080px;
	width:1920px;
	background-color:#000;
	
}



@media all and (min-width:600px)
@media all and (min-height:600px)
@media all and (min-width:1920px)
@media all and (min-height:1080px)